<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Store</title>
</head>
<body>
    <center>
        <form method="POST" action="./controller/createStore.php">
            <fieldset>
                <legend>Create Store</legend>
                <table>
                    <tr>
                        <td>Store Name</td>
                        <td><input type="text" name="storename" value=""/></td>
                    </tr>
                    <tr>
                        <td>Store Type</td>
                        <td><input type="text" name="storetype" value=""/></td>
                    </tr>
                    <tr>
                        <td>Product Type</td>
                        <td><input type="text" name="producttype" value=""/></td>
                    </tr>
                    
                    <tr>
                        <td><input type="submit" name="submit" value="submit"/></td>
                    </tr>
                    <tr>
                        <td><a href="./stores.php">Stores</a></td>
                        <td><a href="./business.php">Back to Accoount</a></td>
                    </tr>
                </table>
            </fieldset>
            
        </form>
    </center>
</body>
</html>