<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="loginStyles.css">
</head>
<body>
    <div class="container">
        <div class="login-content">
            
            <form action="../../controller/logCheck.php" method="POST">
                <h1>Log In</h1>
                <table>
                        <td><input type="email" name="email" 
                            id="email" required 
                            placeholder="Email Address">
                        </td>
                    <tr>
                    <tr>
                        <td><input type="password" name="password" 
                            id="password" required 
                            placeholder="Password">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input name="submit" type="submit" value="submit">
                        </td>
                    </tr>
                    <tr><td>Don't have account? <a href="./signup.html"><strong>Sign Up</strong></a></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>
</html>