<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="loginStyles.css">
</head>
<body>
    <!-- <img src="../images/logo_black.png" alt="Bank logo" class="logo" />  -->
    <div class="container">
        <div class="navbar">
            <img src="../images/logo.png" alt="Bank logo" class="logo" onclick="Redirect()">
        </div>
        <div class="login-content">
            
            <form name="login" action="../../controller/logCheck.php" method="POST" onsubmit="return validation()" >
                <!-- -->
                <h1>Log In</h1>
                
                <table>
                        <td><input type="email" name="email" 
                            id="input" 
                            placeholder="Email Address">
                            <div id="error" style="font-size: small; text-align: center;color: red;"></div>
                        </td>
                        
                    <tr>
                    <tr>
                        <td><input type="password" name="password" 
                            id="input" 
                            placeholder="Password">
                            <div id="errorPass" style="font-size: small; text-align: center;color: red;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="submit" name="submit" type="submit" value="submit">
                        </td>
                    </tr>
                    <tr><td>Don't have account? <a href="./signup.html"><strong>Sign Up</strong></a></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <script type = "text/javascript">
            function Redirect() {
               window.location = "../index.html";
            }
            function validation(){
                
                if(document.login.email.value == ""){
                    document.getElementById('error').innerHTML = "Please enter your email address .";
                    return false;
                }
                
                if(document.login.password.value == ""){
                    document.getElementById('errorPass').innerHTML = "Please enter your Password .";
                    return false;
                }
                if(document.login.password.value == ""){
                    document.getElementById('errorPass').innerHTML = "Please enter your Password .";
                    return false;
                }
                
                
            }
    </script>
</body>
</html>