<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="signupStyles.css">
    <!-- <script defer src="./Final_JS_Lab_Work/signup.js"></script> -->
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="../images/logo.png" alt="Bank logo" class="logo" onclick="Redirect()">
        </div>
        <div class="signup-content">
            <div class="error"></div>
            <form id="form" name="signup" action="../../controller/regCheck.php" method="POST" onsubmit="return validation()">
                <h1>Sign Up</h1>
                <table>
                    <tr>
                        <td><input type="text" 
                            name="username" 
                            class="username"  
                            placeholder="Username">
                            <div id="errorUser" style="font-size: small; text-align: center;color: red;"></div>
                        </td>
                    </tr>
                        <td><input 
                            type="email" 
                            name="email" 
                            
                            class="email"  
                            placeholder="Email Address">
                            <div id="error" style="font-size: small; text-align: center;color: red;"></div>
                        </td>
                    <tr>
                    <tr>
                        <td><input type="password" 
                            name="password" 
                            
                            class="password"  
                            placeholder="Password">
                            <div id="errorPass" style="font-size: small; text-align: center;color: red;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="password" 
                            name="repassword" 
                            
                            class="repassword"  
                            placeholder="Re-password">
                            <div id="errorRePass" style="font-size: small; text-align: center;color: red; padding: 5px;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="accounts" id="accounts">
                                <option value="business">Business</option>
                                <option value="personal">Personal</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="submit" name ="submit" type="submit" value="submit">
                        </td>
                    </tr>
                    <tr><td>Have an account? <a href="./login.html"><strong>Login</strong></a></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
         <script type = "text/javascript">
            function Redirect() {
               window.location = "../index.html";
            }
            function validation(){
                
                if(document.signup.username.value == ""){
                    document.getElementById('errorUser').innerHTML = "Please enter your username .";
                    return false;
                }
                if(document.signup.password.value.length <3){
                    document.getElementById('errorPass').innerHTML = "Username must be more than three letters .";
                    return false;
                }

                if(document.signup.email.value == ""){
                    document.getElementById('error').innerHTML = "Please enter your email address .";
                    return false;
                }
                
                if(document.signup.password.value == ""){
                    document.getElementById('errorPass').innerHTML = "Please enter your password .";
                    return false;
                }
                if(document.signup.password.value.length <3){
                    document.getElementById('errorPass').innerHTML = "Password must be more than three letters .";
                    return false;
                }
                if(document.signup.repassword.value == ""){
                    document.getElementById('errorRePass').innerHTML = "Please enter password again .";
                    return false;
                }
                if(document.signup.repassword.value != document.signup.password.value){
                    document.getElementById('errorRePass').innerHTML = "Pasword and Repasswoed mismatched .";
                    return false;
                }
                
                
            }
        </script>
</body>
</html>