*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000002;
    background-image: url(./assets/esther-ann-FGA4aJGVmUg-unsplash.jpg);

}
.logo{
    width: 30px;
    cursor: pointer;
}
.signup-content{
    /* position: fixed; */
    margin: 100px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 60px;
    border: none;
    border-radius: 40px;
    height: 63vh;
    display: flex;
    align-items: center;
    text-align: center;
}
.signup-content h1{
    padding: 0 0 15px 0;
    margin: 10px;
    text-align: center;
    border-bottom: 1px solid silver;
}

/* .signup-content input{
    width: 180px;
    margin: 10px;
    padding: 10px;
    border: none;
    border-bottom: 0.5px solid black;
} */
.signup-content select{
    padding: 10px;
    width: 100%;
   
}
input{
    width: 180px;
    margin: 10px;
    padding: 10px;
    border: none;
    border-bottom: 0.5px solid black;
}
.submit{
    border-radius: 5px;
    color: white;
    top: 10px;
    padding: 10px;
    width: 200px;
    margin: 10px 10px;
    border: none;
    background-color: black;
}
a{
    text-decoration: none;
    color: black;
}